.health_bar {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 10px;
    width: 18%;
    z-index: 5;
    user-select: none;
}

.health_bar_MINE {
    left: 10px;
}

.health_bar_OPPONENT {
    right: 10px;
}

.health_bar_avatar_username_container {
    display: flex;
    justify-content: space-between;
}

.health_bar_avatar {
    width: 25%;
}

.health_bar_username_container {
    vertical-align: middle;
}

.health_bar_username {
    font-weight: 700;
    display: inline;
    font-size: 20px;
    font-family: Lato,sans-serif;
}