.card_box {
    border: 1px solid #6e6e6e;
    position: relative;
    user-select: none;

}

.card_mask {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
}

.card_mask:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
}

/* 0, 6, 7, 13 */
.side_box_MINE {
    display: grid;
    grid-template-columns: 120px repeat(5, 120px) 120px;
    grid-template-rows: repeat(2, 174px);
    column-gap: 35px;
    row-gap: 5px;
} 

.side_box_OPPONENT {
    display: grid;
    grid-template-columns: 120px repeat(5, 120px) 120px;
    grid-template-rows: repeat(2, 174px);
    column-gap: 35px;
    row-gap: 5px;
    transform: rotate(180deg);
} 