.card_outer_box {
    height: 100%;
    width: 100%;
    border: 5px solid rgba(255, 0, 0, 0) ;
    border-radius: 5px;
    user-select: none;
}
.card_box {
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100%;
    width: 100%;

}

.card_mask {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
}

.card_mask:hover {
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.6);
}

/* 0, 6, 7, 13 */
.side_box_MINE {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 7vw);
    grid-template-rows: repeat(2, 10.15vw);
    column-gap: 3.5vw;
    row-gap: 0.7vw;
} 

.side_box_OPPONENT {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 7vw);
    grid-template-rows: repeat(2, 10.15vw);
    column-gap: 3.5vw;
    row-gap: 0.7vw;
    transform: rotate(180deg);
} 

.side-enter {
    opacity: 0.01;
}
  
.side-enter.side-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.side-leave {
    opacity: 1;
}

.side-leave.side-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.side_card_set {
    width: 100%; 
    transform: rotate(90deg);
}

/* .opponent_side {
    transform: rotate(180deg);
} */

/* .special_class {
    width: 80%;
    height: 80%;
    margin: auto;
} */

.deck_remaining {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* borrowed from hand.css, change later */
.show_hand_option {
    display: flex;
    flex-direction: column;
    border-width: 1.2rem;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 100%;
    border-top: 2px solid black;
}

.no_hand_option {
    display: none;
}

.show_summon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    z-index: 10;

}

.show_summon:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.card_flashing {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        border-color: rgba(255, 0, 0, 1);
    }
}