.turn_selector_container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.phase_button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select:none;
}

.phase_button:hover {
    cursor: pointer;
    background-color: #ccc;
}


/* Phase animator css */
.phase_block {
    position: absolute;
    transition: transform 2s;
    transform: translate(-50%, -50%);    
    top: 50%;
    left: 50%;
    z-index: 10;
}
.phase_before {
    display: none;
    transform: translateX(-1000px);
}

.phase_after {
    transform: translateX(1000px);
}