.slider_container {
    height: 20%;
}

.settings_container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 50%;
}

.size_button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select:none;
}

.size_button:hover {
    cursor: pointer;
    background-color: #ccc;
}

.translate_button_container {
    margin: 10px;
}

.vertical_container {
    display: flex;
    justify-content: center;
}

.horizontal_container {
    display: flex;
    justify-content: space-between;
}

.translate_button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select:none;
    margin: 5px;
}

.translate_button:hover {
    cursor: pointer;
    background-color: #ccc;
}