.game_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

}

.field_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 9;
}

.field_settings_container {
    display: flex;
    width: 100%;
    background: #f2f2f2;
}